@font-face {
    /* Custom definition of font, search in cache if already downloaded, if not, obtain it from the files*/
    font-family: "Archivo Black";
    src:
        local('ArchivoBlack-Regular.ttf'),
        url(../fonts/ArchivoBlack-Regular.ttf);
}


.color-gradiente-azul-suave {
    height: 100vh;
  background: linear-gradient(180deg, #a2d2f7 0%, #4a90e2 50%, #1b3b6f 100%);
}

.presentation-w-image {
    position: relative;
    background: linear-gradient(180deg, #a2d2f7 0%, #4a90e2 50%, #1b3b6f 100%);
    overflow: hidden;
}

.presentation-w-image::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-image: url(../images/descarga.jpg);
    background-position: 0% 50%;
    background-size: cover;
    filter: brightness(0.8);
    opacity: 0.4; /* Transparency adjustment */
    z-index: 0;
}

.presentation-w-image > * {
    position: relative; /* Content over the image */
    z-index: 1;
}

.texto-gradiente {
  background: linear-gradient(90deg, #0d2a88, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* For browsers that do not support gradient text yet */
  background-clip: text;
  color: transparent;
  font-family: 'Archivo Black', sans-serif;
}

.reserved-rights {
    position: fixed;    /* lo fija respecto a la ventana */
    bottom: 0;          /* en la parte inferior */
    left: 0;            /* en la esquina izquierda */
    padding: 10px 20px; /* un poco de espacio desde el borde */
    background: rgba(255, 255, 255, 0.1); /* opcional: fondo semitransparente */
    z-index: 1000;      /* para que esté encima de otros elementos */
}